*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    font-weight: 300;
}

h1:hover{
    color: yellow;
}

h1:active{
    color: green;
}
