@import url('https://fonts.googleapis.com/css2?family=Momo+Signature&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitcount+Grid+Single:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sixtyfour&display=swap');



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 50px;
}

#Presuppositionalism{
    font-family: "Momo Signature", cursive;
    font-weight: 500;
    text-shadow: -5px 5px 2px red;
}

#Evidentialism{
    font-family: "Bitcount Grid Single", system-ui;
    font-weight: 700;
    text-shadow: 5px -5px 2px blue;
}

#Empiricism{
    font-family: "Sixtyfour", sans-serif;
    font-weight: 900;
    text-shadow: 8px 8px 1px green;
}

